
<!--begin:Navbar items-->
<ul class="navbar-nav ms-auto">

  <!--begin:home-->
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <!--end:home-->

  <!--begin:about-->
  <li class="nav-item">
    <a class="nav-link" href="/#About">About</a>
  </li>
  <!--end:about-->

  <!--begin:apply-->
  <li class="nav-item">
    <a class="nav-link" href="/#Apply">Apply</a>
  </li>
  <!--end:apply-->

  <!--begin:partner-->
  <li class="nav-item">
    <a class="nav-link" href="/#Partner">Partner</a>
  </li>
  <!--end:partner-->

  <!--begin:management portal-->
  <li class="nav-item">
    <a class="nav-link" href="/mgmt/">Management Portal</a>
  </li>
  <!--end:management portal-->
</ul>
<!--end:Navbar items-->